
@{
    Layout = null;
}

<script src="../FrameWorks/moment.js"></script>
<script src="../FrameWorks/daterangepicker.js"></script>
<link href="../Content/css/daterangepicker.css" rel="stylesheet" />
<link href="../Content/css/Reporter.css" rel="stylesheet" />
<link href="../Content/css/style.css" rel="stylesheet" />

<div ng-controller="DinePaidDetailsCtrl">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        订单详情
                    </h4>
                </div>
                <div class="modal-body">
                    <span>订单编号：</span><span>{{nowDine.Id}}</span><br />
                    <span>开始时间：</span><span>{{nowDine.BeginTime | date:'yyyy-MM-dd HH:mm:ss '}}</span><br />
                    <span>桌台编号：</span><span>{{nowDine.DeskId}}</span><br />
                    <span>房间号：</span><span>{{nowDine.Area.Name}}</span><br />
                    <span>收银员姓名：</span><span>{{nowDine.Clerk.Name}}</span><br />
                    <span>服务员姓名：</span><span>{{nowDine.Waiter.Name}}</span><br />
                    <span>顾客人数：</span><span>{{nowDine.HeadCount}}</span><br />
                    <span>
                        已支付:
                        <span ng-if="dine.IsPaid">是</span>
                        <span ng-if="!dine.IsPaid">否</span>
                    </span><br />
                    <span>消费金额：</span><span>{{nowDine.OriPrice |currency: '￥'}}</span><br />
                    <span>应计金额：</span><span>{{nowDine.Price |currency: '￥'}}</span><br />
                    <span>优惠金额：</span><span>{{nowDine.discount |currency: '￥'}}</span><br />
                    <span>赠菜金额：</span><span>{{Gift |currency: '￥'}}</span><br />
                    <span>退菜金额：</span><span>{{Back |currency: '￥'}}</span><br />
                    <span>折扣率：</span><span>{{nowDine.Discount*100}}%</span><br />
                    <span>支付方式：</span><span ng-repeat="paykindnamec in paykindnameb">{{paykindnamec.Name}},{{paykindnamec.Price|currency: '￥'}}</span><br />

                    @*<div>
                            <p ng-repeat="dinepaiddetail in nowdine.DinePaidDetails">
                                {{dinepaiddetail.PayKind.Name}}hh


                            </p>



                            <p ng-repeat="dinepaiddetail in nowdine.DinePaidDetails">
                                {{dinepaiddetail.Price|currency : '￥'}}
                            </p>
                        </div>*@


                    <table class="table table-bordered table-hover table-striped table-responsive">
                        <thead><tr><th>菜品编号</th><th>菜品名称</th><th>菜品数量</th><th>菜品价格</th><th>菜品原价格</th><th>折扣率(%)</th></tr></thead>
                        <tr ng-repeat="dinedetail in dinedetails">
                            <td>
                                <span>{{dinedetail.MenuId}}</span>
                            </td>
                            <td>
                                <span>{{dinedetail.Name}}</span>
                            </td>
                            <td class=text-right>
                                <span>{{dinedetail.Count}}</span>
                            </td>
                            <td class=text-right>
                                <span>{{dinedetail.Price |currency: '￥'}}</span>
                            </td>
                            <td class=text-right>
                                <span>{{dinedetail.OriPrice|currency: '￥'}}</span>
                            </td>
                            <td class=text-right>
                                <span>{{(dinedetail.Price/dinedetail.OriPrice)*100}}</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                        关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog"
         aria-labelledby="myModal1Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModal1Label">
                        订单详情
                    </h4>
                </div>
                <div class="modal-body">
                    <span>订单编号：</span><span>{{nowDine.Id}}</span><br />
                    <span>开始时间：</span><span>{{nowDine.BeginTime | date:'yyyy-MM-dd HH:mm:ss '}}</span><br />
                    <span>桌台编号：</span><span>{{nowDine.DeskId}}</span><br />
                    <span>房间号：</span><span>{{nowDine.Area.Name}}</span><br />
                    <span>
                        已支付:
                        <span ng-if="dine.IsPaid">是</span>
                        <span ng-if="!dine.IsPaid">否</span>
                    </span><br />
                    <span>消费金额：</span><span>{{nowDine.OriPrice |currency: '￥'}}</span><br />
                    <span>应计金额：</span><span>{{nowDine.Price |currency: '￥'}}</span><br />
                    <span>优惠金额：</span><span>{{nowDine.discount |currency: '￥'}}</span><br />
                    <span>赠菜金额：</span><span>{{Gift |currency: '￥'}}</span><br />
                    <span>退菜金额：</span><span>{{Back |currency: '￥'}}</span><br />
                    <span>折扣率：</span><span>{{nowDine.Discount*100}}%</span><br />
                    <span>支付方式：</span><span ng-repeat="paykindnamec in paykindnameb">{{paykindnamec.Name}},{{paykindnamec.Price|currency: '￥'}}</span><br />

                    @*<div>
                            <p ng-repeat="dinepaiddetail in nowdine.DinePaidDetails">
                                {{dinepaiddetail.PayKind.Name}}hh


                            </p>



                            <p ng-repeat="dinepaiddetail in nowdine.DinePaidDetails">
                                {{dinepaiddetail.Price|currency : '￥'}}
                            </p>
                        </div>*@


                    <table class="table table-bordered table-hover table-striped table-responsive">
                        <thead><tr><th>菜品编号</th><th>菜品名称</th><th>菜品数量</th><th>菜品价格</th><th>菜品原价格</th><th>折扣率(%)</th></tr></thead>
                        <tr ng-repeat="dinedetail in dinedetails">
                            <td>
                                <span>{{dinedetail.MenuId}}</span>
                            </td>
                            <td>
                                <span>{{dinedetail.Name}}</span>
                            </td>
                            <td class=text-right>
                                <span>{{dinedetail.Count}}</span>
                            </td>
                            <td class=text-right>
                                <span>{{dinedetail.Price |currency: '￥'}}</span>
                            </td>
                            <td class=text-right>
                                <span>{{dinedetail.OriPrice|currency: '￥'}}</span>
                            </td>
                            <td class=text-right>
                                <span>{{(dinedetail.Price/dinedetail.OriPrice)*100}}</span>
                            </td>
                        </tr>
                    </table>

                    修改订单抬头<input type="text" ng-model="nowDine.Title" />
                    修改发票金额<input type="number" ng-model="nowDine.InvoicePrice" />
                    <button class="btn btn-success" ng-click="putInvoice()">录入发票信息</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                        关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <div class="row" ng-init="Initialize()">
        <div class="col-md-8 col-xs-12">
            <form class="form-horizontal">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label">选择开始和结束时间:</label>
                        <div class="controls">
                            <div class="input-prepend input-group">
                                <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                <input type="text" style="width:600px;" name="reservation" id="reservation" class="form-control" daterange date-start="begindate" date-end="enddate" value="@(DateTime.Now.ToString("yyyy-MM-dd") + "- " + DateTime.Now.ToString("yyyy-MM-dd"))" />
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <span>输入开始时间(如无需要请输入00:00)</span>
    <input type="time" ng-model="begintime" /><br />
    <br />
    <span>输入结束时间(如无需要请输入23:59)</span>
    <input type="time" ng-model="endtime" /><br />
    <span>选择服务员</span>
    @*<input type="text" ng-model="waiterid" /><br />*@
    @*<input type="text"  ng-model="paykindname"/><br />*@
    <form role="form">
        <div class="form-group">
            <select class="form-control" ng-model="waiterid">
                <option value="">所有</option>
                <option ng-repeat="staffname in staffnames" value="{{staffname.Id}}">{{staffname.Name}}</option>

            </select>
        </div>
    </form>

    <div class="widget-box half">
        <div class="widget-header">
            <h4 class="smaller">选择支付方式</h4>
        </div>
        <div class="widget-body menu clearfix">
            <ul class="Class checkbox">
                <li ng-repeat="paykindnamea in paykindnames">
                    <label>
                        <input name="form-field-checkbox" class="ace ace-checkbox-2" type="checkbox" ng-model="paykindnamea.IsChoose" />
                        <span class="lbl">{{paykindnamea.Name}}</span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
    @*<form >
            <label>选择支付方式(按住ctrl键可以多选)</label>

            <select multiple="multiple" ng-model="paykindname" style="height:200px">
                <option value="">所有</option>
                <option  ng-repeat="paykindnamea in paykindnames" value="{{paykindnamea.Id}}">{{paykindnamea.Name}}</option>
            </select>
        </form>*@
    <button class="btn btn-app btn-primary btn-xs" ng-click="search()">
        查询订单
        <i class="icon-search bigger-230"></i>
    </button>
    @*<span>总金额</span><span>{{sumprice}}</span><br />*@
    <table class="table table-bordered table-hover table-striped table-responsive">
        @*<thead><tr><th>顾客数量</th><th>消费金额</th><th>应付金额</th><th>优惠金额</th></tr></thead>*@
        @*<tr >
                <td class=text-right>
                    <span>{{headcount}}</span>
                </td>
                <td class=text-right>
                    <span>{{oriprice|currency : '￥'}}</span>
                </td>
                <td class=text-right>
                    <span>{{price|currency : '￥'}}</span>
                </td>
                <td class=text-right>
                    <span>{{discount|currency : '￥'}}</span>
                </td>

            </tr>*@
    </table>
    <table class="table table-bordered table-hover table-striped table-responsive">
        <thead>
            <tr>
                <th class=text-center>序号</th>
                <th class=text-center>订单编号</th>
                <th class=text-center>桌台号</th>
                <th class=text-center>房间号</th>
                <th class=text-center>收银员</th>
                <th class=text-center>服务员</th>
                <th class=text-center>顾客数量</th>
                <th class=text-center>开始时间</th>
                <th class=text-center>已支付</th>
                <th class=text-center>支付种类</th>
                <th class=text-center>付款金额</th>
                <th class=text-center>消费金额</th>
                <th class=text-center>优惠金额</th>
                <th class=text-center>赠菜金额</th>
                <th class="text-center">退菜金额</th>
                <th class="text-center">是否开发票</th>
                <th class=text-center>相关操作</th>
            </tr>
        </thead>
        <tr ng-repeat="dine in dines">
            <td class=text-center>
                <span>{{$index+1}}</span>
            </td>
            <td class=text-center>
                <span>{{dine.Id}}</span>
            </td>
            <td class=text-center>
                <span>{{dine.DeskId}}</span>
            </td>
            <td class=text-center>
                <span>{{dine.Area.Name}}</span>
            </td>
            <td class=text-center>
                <span>{{dine.Clerk.Name}}</span>
            </td>
            <td class=text-center>
                <span>{{dine.Waiter.Name}}</span>
            </td>
            <td class=text-right>
                <span>{{dine.HeadCount}}</span>
            </td>
            <td class=text-center>
                <span>{{dine.BeginTime| date:'yyyy-MM-dd HH:mm:ss '}}</span>
            </td>
            <td class=text-center>
                <span ng-if="dine.IsPaid">是</span>
                <span ng-if="!dine.IsPaid">否</span>
            </td>
            <td class=text-center>
                <p ng-repeat="dinepaiddetail in dine.DinePaidDetails">
                    {{dinepaiddetail.PayKind.Name}}
                </p>
            </td>
            <td class=text-right>
                <p ng-repeat="dinepaiddetail in dine.DinePaidDetails">
                    {{dinepaiddetail.Price|currency : '￥'}}
                </p>
                @*<span>{{dine.Price|currency : '￥'}}</span>*@
            </td>
            <td class=text-right>
                <span ng-if="dine.IsPaid">{{dine.OriPrice|currency : '￥'}}</span>
            </td>
            <td class=text-right>
                <span ng-if="dine.IsPaid">{{dine.discount|currency : '￥'}}</span>
            </td>
            <td class=text-right>
                <span ng-if="dine.IsPaid">{{dine.GiftPrice|currency:'￥'}}</span>
            </td>
            <td class=text-right>
                <span ng-if="dine.IsPaid">{{dine.ReturnPrice|currency:'￥'}}</span>
            </td>
            <td class="text-right">
                <span class="label label-warning" ng-if="dine.IsInvoiced==0">
                    <i class="icon-warning-sign bigger-120"></i>
                    未开票
                </span>
                <span class="label label-success" ng-if="dine.IsInvoiced==1">已开票</span>
            </td>
            <td>
                <nobr>
                    <button type="button" class="btn btn-minier btn-primary dropdown-toggle" data-toggle="modal" data-target="#myModal" ng-click="setDine(dine)">
                        @*订单详情*@
                        <i class="icon-file icon-on-right bigger-110"></i>
                    </button>
                    <button type="button" class="btn btn-minier btn-primary dropdown-toggle" data-toggle="modal" data-target="#myModal1" ng-click="setDine(dine)">
                        @*发票录入*@
                        <i class="icon-save icon-on-right bigger-110"></i>
                    </button>
                </nobr>

            </td>
        </tr>
        <tr>
            <td class=text-center><span>总计</span></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class=text-right>
                <span>{{Sum.headcount}}</span>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td class=text-right>
                <span>{{Sum.price|currency : '￥'}}</span>
            </td>
            <td class=text-right>
                <span>{{Sum.oriprice|currency : '￥'}}</span>
            </td>
            <td class=text-right>
                <span>{{Sum.discount|currency : '￥'}}</span>
            </td>
            <td class=text-right>
                <span>{{Sum.GiftPrice|currency : '￥'}}</span>
            </td>
            <td class=text-right>
                <span>{{Sum.ReturnPrice|currency : '￥'}}</span>
            </td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
