<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="TcpServerIp" value="122.114.96.157" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="RemoteLogUrl" value="http://system.yummyonline.net/Log/RemoteRecord" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="RemotePrintCompletedUrl" value="http://ordersystem.yummyonline.net/Payment/PrintCompleted" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="RemoteGetDineForPrintingUrl" value="http://ordersystem.yummyonline.net/OrderForPrinting/GetDineForPrinting" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="RemoteGetShiftsForPrintingUrl" value="http://ordersystem.yummyonline.net/OrderForPrinting/GetShiftsForPrinting" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	</appSettings>
</configuration>
