@{
	YummyOnlineDAO.Models.OrderSystemStyle style = ViewBag.OrderSystemStyle;
}



<nav>
	<div class="pull-right">
		<a class="btn btn-circle" href="/Account/Index">
			<i class="fa fa-user"></i>
		</a>
	</div>
	<div class="nav-search">
		<input type="text" class="form-control form-control-round input-sm" placeholder="搜索拼音首字母"
			   ng-model="menuFilter.SearchText" ng-change="menuFilter.ChangeSearchText()">
	</div>
</nav>

<div class="section-category" ng-static-height="88">
	<ul class="list-group">
		<li class="list-group-item active"
			ng-show="menuFilter.IsSearchMode()">
			搜索结果
		</li>
		<li class="list-group-item"
			ng-class="{active:menuFilter.IsResultMode()}"
			ng-show="menuFilter.IsResultMode()"
			ng-click="menuFilter.IntoResultMode()">
			查看点单
			<div class="class-decoration">
				<span class="fa fa-shopping-cart"></span>
			</div>
		</li>

		<li class="list-group-item"
			ng-if="dataSet.MenuOnSalesCount > 0"
			ng-class="{active:menuFilter.IsOnSaleMode()}"
			ng-click="menuFilter.IntoOnSaleMode()">
			今日特价
			<div class="class-decoration">
				<span class="fa fa-star"></span>
			</div>
		</li>
		<li class="list-group-item"
			ng-class="{active:menuFilter.IsRankMode()}"
			ng-click="menuFilter.IntoRankMode()">
			销量排行
			<div class="class-decoration">
				<span class="fa fa-thumbs-up"></span>
			</div>
		</li>
		<!-- ngRepeat MenuClasses -->
		<li class="list-group-item"
			ng-repeat="class in dataSet.MenuClasses"
			ng-if="class.Count > 0"
			ng-class="{active: class.Addition.IsSelected}"
			ng-click="menuFilter.ToggleSelected(class)">
			{{class.Name}}
			<span class="class-tip"
				  ng-show="class.Addition.Ordered">
				{{class.Addition.Ordered}}
			</span>
		</li>
	</ul>
</div>

@switch(style) {
	case YummyOnlineDAO.Models.OrderSystemStyle.Simple:
		@Html.Partial("_PartialMenuSimple")
		break;
	default:
		@Html.Partial("_PartialMenuFashion")
		break;
}


<div class="bar">
	@Html.Partial("_PartialBarStatic")

	<div class="bar-btn-group pull-right">
		<p class="cart-price">{{cart.Price | currency : "￥"}}</p>
		<a class="btn btn-primary btn-circle" route-href="/Cart">
			<p class="cart-sum">{{cart.Ordered}}</p>
			<img src="~/Content/image/cart.png" />
		</a>
		<p>购物车</p>
	</div>
</div>