
@Html.Partial("_PartialNavTitle", "查看点单")

<div class="container-fluid" ng-static-height="88">
	<ul class="list-group li-group-no-border-radius list-group-dine" ng-if="dines.length==0">
		<li class="list-group-item">
			暂无历史记录
		</li>
	</ul>
	<ul class="list-group li-group-no-border-radius list-group-dine"
		ng-if="dines.length!=0"
		ng-repeat="dine in dines">
		<li class="list-group-item">
			<p class="title">点单号：{{dine.Id}}</p>
			<p>下单时间：{{dine.BeginTime | date:'yyyy/M/d HH:mm:ss'}}</p>

			<div class="row no-padding">
				<div class="col-xs-6">
					桌号：{{dine.Desk.Name}}
				</div>
				<div class="col-xs-6 text-right">
					人数：{{dine.HeadCount}}
				</div>
			</div>
		</li>
		<li class="list-group-item" ng-if="dine.Type == 1">
			外卖 <span ng-if="dine.TakeOut.RecordId!=null">（{{dine.TakeOut.RecordId}}）</span>
			<div>
				地址：{{dine.TakeOut.Address}}
			</div>
			<div>
				姓名：{{dine.TakeOut.Name}}
			</div>
			<div>
				手机号：{{dine.TakeOut.PhoneNumber}}
			</div>
		</li>
		<li class="list-group-item">
			@* ngRepeat menu *@
			<div class="row no-padding" ng-repeat="menu in dine.DineMenus">
				<div class="col-xs-6">
					<span class="text-danger" ng-if="menu.Status==1">[已退]</span>
					<span class="text-success" ng-if="menu.Type==1">[特价]</span>
					<span class="text-success" ng-if="menu.Type==2">[折扣]</span>
					<span class="text-success" ng-if="menu.Type==3">[支付折扣]</span>
					<span class="text-success" ng-if="menu.Type==4">[时段折扣]</span>
					<span class="text-success" ng-if="menu.Type==5">[会员折扣]</span>
					<span class="text-success" ng-if="menu.Type==6">[自定义折扣]</span>
					<span class="text-success" ng-if="menu.Type==7">[套餐]</span>
					<span class="text-success" ng-if="menu.Type==8">[赠菜]</span>
					{{menu.Menu.Name}}
					<span class="label label-default"
						  ng-repeat="remark in menu.Remarks">
						{{remark.Name}}
					</span>
				</div>
				<div class="col-xs-2 text-right">
					&times;{{menu.Count}}
				</div>
				<div class="col-xs-4 text-right">
					<s ng-show="menu.OriPrice!=menu.Price">
						{{menu.OriPrice | currency : "￥"}}
					</s>
					<span class="text-danger">
						{{menu.Price | currency : "￥"}}
					</span>
				</div>
			</div>
		</li>

		<li class="list-group-item">
			<div class="row no-padding">
				<div class="col-xs-6">
					<span class="fa fa-shopping-cart"></span> 共计：
				</div>
				<div class="col-xs-6 text-right">
					<s ng-show="dine.OriPrice!=dine.Price">
						{{dine.OriPrice | currency : "￥"}}
					</s>
					<span class="text-danger">
						{{dine.Price | currency : "￥"}}
					</span>
				</div>
				<div ng-if="dine.Discount<1">
					<div class="col-xs-6">
						{{dine.DiscountName}}
					</div>
					<div class="col-xs-6 text-right">
						{{dine.Discount * 10}} 折
					</div>
				</div>
			</div>
		</li>
		<li class="list-group-item list-group-item-align" ng-if="dine.DinePaidDetails.length>0">
			<div class="row no-padding" ng-repeat="dinePaidDetail in dine.DinePaidDetails">
				<div class="col-xs-6">
					{{dinePaidDetail.PayKind.Name}}
					<span class="text-danger" ng-if="!dine.IsPaid && dinePaidDetail.PayKind.Type == 0">[未支付]</span>
				</div>
				<div class="col-xs-6 text-right text-danger">
					{{dinePaidDetail.Price | currency : "￥"}}
					<span ng-if="!dine.IsPaid && dinePaidDetail.PayKind.Type == 0"
						  ng-click="payAgain(dine)"><button class="btn btn-danger btn-sm btn-round">立即支付</button></span>
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row no-padding">
				<div class="col-xs-12 text-right">
					<button class="btn btn-primary btn-sm btn-round"
							ng-click="tryAgain(dine)">
						再品尝一次
					</button>
				</div>
			</div>
		</li>
	</ul>
</div>

@Html.Partial("_PartialBarBase")