
<div class="box">
	<div class="box-body">
		<div class="form-group">
			<label>选择备份的数据库名:</label>
			<div>
				<div class="checkbox checkbox-inline">
					<input type="checkbox" id="yummyonline" ng-model="yummyonline">
					<label for="yummyonline">
						YummyOnline 总数据库
					</label>
				</div>
				<div class="checkbox checkbox-inline" ng-repeat="hotel in hotels">
					<input type="checkbox" id="database{{$index}}" ng-model="hotel.Checked">
					<label for="database{{$index}}">
						{{hotel.Name}}
					</label>
				</div>
			</div>
		</div>
		<div class="text-right">
			<button class="btn btn-default"
					confirm-click="execute()"
					confirm-class="btn-danger"
					ng-disabled="isLoading">
				备份
			</button>
		</div>
	</div>
</div>

<div class="box">
	<div class="box-header">
		<h3 class="box-title">
			备份文件列表
		</h3>
	</div>
	<table class="table">
		<tr>
			<th>文件名</th>
			<th>大小</th>
			<th class="shrink">创建时间</th>
		</tr>
		<tr ng-repeat="backup in backups">
			<td>{{backup.Name}}</td>
			<td>{{backup.Length / 1024 / 1024 | number : 2}} MB</td>
			<td class="shrink">{{backup.LastWriteTime | date:'yyyy/M/d HH:mm:ss'}}</td>
		</tr>
	</table>
</div>