<div class="box">
	<div class="box-header">
		<h3 class="box-title">
			<span ng-hide="partitionDetail.Hotel==null">{{partitionDetail.Hotel.Name}} <small>{{partitionDetail.Hotel.Id}}</small></span>
			<span ng-show="partitionDetail.Hotel==null">YummyOnline 总数据库</span>
		</h3>

		<div class="box-tools pull-right">
			<div class="btn-group" uib-dropdown>
				<button class="btn btn-box-tool" uib-dropdown-toggle>
					<i class="fa fa-chevron-down"></i>
				</button>
				<ul uib-dropdown-menu>
					<li>
						<a href="/Database#/PartitionHandle">YummyOnline 总数据库</a>
					</li>
					<li class="divider"></li>
					<li ng-repeat="hotel in hotels">
						<a href="/Database#/PartitionHandle/{{hotel.Id}}">{{hotel.Id}} {{hotel.Name}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table">
			<tr>
				<th>表名</th>
				<th>索引名</th>
				<th>索引号</th>
				<th>分区方案</th>
				<th>分区号</th>
				<th>文件组名</th>
				<th>下界</th>
				<th>上界</th>
				<th>边界</th>
				<th>行数</th>
			</tr>

			<tr class="danger" ng-if="partitionDetail.DbPartitionInfos.length == 0">
				<td colspan="10">该数据库未做分区 <button class="btn btn-danger" ng-click="createDbPartition()">立即分区</button></td>
			</tr>

			<tr ng-if="partitionDetail.DbPartitionInfos.length > 0" ng-repeat="partitionInfo in partitionDetail.DbPartitionInfos">
				<td>{{partitionInfo.TableName}}</td>
				<td>{{partitionInfo.IndexName}}</td>
				<td>{{partitionInfo.IndexId}}</td>
				<td>{{partitionInfo.PartitionScheme}}</td>
				<td>{{partitionInfo.PartitionNumber}}</td>
				<td>{{partitionInfo.FileGroupName}}</td>

				<td ng-if="partitionInfo.LowerBoundaryValue != null">{{partitionInfo.LowerBoundaryValue | date:'yyyy/MM/dd'}}</td>
				<td ng-if="partitionInfo.LowerBoundaryValue == null" class="warning">∞</td>

				<td ng-if="partitionInfo.UpperBoundaryValue != null">{{partitionInfo.UpperBoundaryValue | date:'yyyy/MM/dd'}}</td>
				<td ng-if="partitionInfo.UpperBoundaryValue == null" class="warning">∞</td>

				<td>{{partitionInfo.Range}}</td>
				<td>{{partitionInfo.Rows}}</td>
			</tr>
		</table>
	</div>
	<div class="table-responsive">
		<table class="table no-margin">
			<tr>
				<th>文件组号</th>
				<th>文件组名称</th>
				<th>文件名称</th>
				<th>文件路径</th>
				<th>大小</th>
				<th>增量</th>
			</tr>
			<tr ng-repeat="fileGroupInfo in partitionDetail.FileGroupInfos">
				<td>{{fileGroupInfo.DataSpaceId}}</td>
				<td>{{fileGroupInfo.FileGroupName}}</td>
				<td>{{fileGroupInfo.FileName}}</td>
				<td>{{fileGroupInfo.FilePath}}</td>
				<td>{{fileGroupInfo.Size}}</td>
				<td>{{fileGroupInfo.Growth}}</td>
			</tr>
		</table>
	</div>
	@if(User.IsInRole(nameof(YummyOnlineDAO.Models.Role.SuperAdmin))) {
		<div class="box-body" ng-show="partitionDetail.DbPartitionInfos.length > 0">
			
			<div class="btn-group">
				<button class="btn btn-default"
						uib-datepicker-popup
						show-button-bar="false"
						popup-placement="top-left"
						datepicker-append-to-body="true"
						ng-model="dateTime"
						ng-click="isOpen = true"
						is-open="isOpen">
					<span ng-if="dateTime == null">选择日期</span>
					<span ng-if="dateTime != null">{{dateTime | date:'yyyy/MM/dd'}}</span>
				</button>

				<button class="btn btn-primary"
						confirm-click="split()"
						confirm-class="btn-danger"
						ng-disabled="dateTime == null">
					分割
				</button>

				<button class="btn btn-primary"
						confirm-click="merge()"
						confirm-class="btn-danger"
						ng-disabled="dateTime == null">
					合并
				</button>
			</div>
		</div>
	}
</div>