<div class="box" ng-repeat="partitionDetail in partitionDetails">
	<div class="box-header">
		<h3 class="box-title">{{partitionDetail.Hotel.Name}} <small>{{partitionDetail.Hotel.Id}}</small></h3>
	</div>
	<div class="table-responsive">
		<table class="table no-margin">
			<tr>
				<th>表名</th>
				<th>索引名</th>
				<th>索引号</th>
				<th>分区方案</th>
				<th>分区号</th>
				<th>文件组名</th>
				<th>下界</th>
				<th>上界</th>
				<th>边界</th>
				<th>行数</th>
			</tr>

			<tr class="danger" ng-if="partitionDetail.DbPartitionInfos.length == 0">
				<td colspan="10">该数据库未做分区</td>
			</tr>

			<tr ng-if="partitionDetail.DbPartitionInfos.length > 0" ng-repeat="partitionInfo in partitionDetail.DbPartitionInfos">
				<td>{{partitionInfo.TableName}}</td>
				<td>{{partitionInfo.IndexName}}</td>
				<td>{{partitionInfo.IndexId}}</td>
				<td>{{partitionInfo.PartitionScheme}}</td>
				<td>{{partitionInfo.PartitionNumber}}</td>
				<td>{{partitionInfo.FileGroupName}}</td>

				<td ng-if="partitionInfo.LowerBoundaryValue != null">{{partitionInfo.LowerBoundaryValue | date:'yyyy/MM/dd'}}</td>
				<td ng-if="partitionInfo.LowerBoundaryValue == null" class="warning">∞</td>

				<td ng-if="partitionInfo.UpperBoundaryValue != null">{{partitionInfo.UpperBoundaryValue | date:'yyyy/MM/dd'}}</td>
				<td ng-if="partitionInfo.UpperBoundaryValue == null" class="warning">∞</td>

				<td>{{partitionInfo.Range}}</td>
				<td>{{partitionInfo.Rows}}</td>
			</tr>
		</table>
	</div>
</div>