
@{
    Layout = "~/Views/Shared/_LayoutGlobal.cshtml";
}
@section Script{
	<script src="~/Scripts/Database/route.js"></script>
	<script src="~/Scripts/Database/controllers.js"></script>
}

<div ng-view>

</div>
