<div class="box box-default">
	<div class="table-responsive">
		<table class="table no-margin">
			<tr>
				<th>Guid</th>
				<th>说明</th>
				@if(User.IsInRole(nameof(YummyOnlineDAO.Models.Role.SuperAdmin))) {
					<th></th>
				}
			</tr>
			<tr ng-repeat="guid in guids">
				<td>{{guid.Guid}}</td>
				<td>{{guid.Description}}</td>
				@if(User.IsInRole(nameof(YummyOnlineDAO.Models.Role.SuperAdmin))) {
					<td class="text-right">
						<button class="btn btn-danger" confirm-click="deleteGuid(guid)">删除</button>
					</td>
				}
			</tr>
			@if(User.IsInRole(nameof(YummyOnlineDAO.Models.Role.SuperAdmin))) {
				<tr>
					<td><input type="text" class="form-control" ng-model="newGuid.Guid"></td>
					<td><input type="text" class="form-control" ng-model="newGuid.Description"></td>
					<td class="text-right">
						<button class="btn btn-primary" confirm-class="btn-danger" confirm-click="addGuid()">添加</button>
					</td>
				</tr>
			}
		</table>
	</div>
</div>