<div class="box box-default">
	<div class="box-header">
		<h3 class="box-title">
			站点状态
		</h3>
	</div>
	<div class="table-responsive">
		<table class="table no-margin">
			<tr>
				<th>Id</th>
				<th>网站名</th>
				<th>应用程序池名</th>
				<th>物理路径</th>
				<th>协议</th>

				<th>IP地址</th>
				<th>端口</th>
				<th>主机名</th>
				<th>状态</th>
				@if(User.IsInRole(nameof(YummyOnlineDAO.Models.Role.SuperAdmin))) {
					<th class="shrink"></th>
				}
			</tr>
			<tr ng-repeat="site in sites">
				<td>{{site.Id}}</td>
				<td>{{site.Name}}</td>
				<td>{{site.ApplicationPoolName}}</td>
				<td>{{site.PhysicalPath}}</td>
				<td>{{site.Protocal}}</td>

				<td ng-if="site.Protocal=='ftp'" colspan="5"></td>
				<td ng-if="site.Protocal!='ftp'">{{site.Address}}</td>
				<td ng-if="site.Protocal!='ftp'">{{site.Port}}</td>
				<td ng-if="site.Protocal!='ftp'">{{site.Host}}</td>
				<td ng-if="site.Protocal!='ftp'">{{site.State}}</td>
				@if(User.IsInRole(nameof(YummyOnlineDAO.Models.Role.SuperAdmin))) {
					<td class="text-right" ng-if="site.State == 'Started' && site.Protocal!='ftp'">
						<button class="btn btn-danger" ng-click="stopSite(site.Id)">关闭</button>
					</td>
					<td class="text-right" ng-if="site.State == 'Stopped' && site.Protocal!='ftp'">
						<button class="btn btn-primary" ng-click="startSite(site.Id)">开启</button>
					</td>
				}
			</tr>
		</table>
	</div>
</div>

<div class="box box-default">
	<div class="box-header">
		<h3 class="box-title">
			应用程序池状态
		</h3>
	</div>
	<div class="table-responsive">
		<table class="table no-margin">
			<tr>
				<th>Pid</th>
				<th>应用程序池名</th>
				<th>状态</th>
			</tr>
			<tr ng-repeat="w3wp in w3wps">
				<td>{{w3wp.Pid}}</td>
				<td>{{w3wp.ApplicationPoolName}}</td>
				<td>{{w3wp.State}}</td>
			</tr>
		</table>
	</div>
</div>