@{
	Layout = "~/Views/Shared/_LayoutGlobal.cshtml";
}
@section Script{
	<script src="~/Scripts/Server/route.js"></script>
	<script src="~/Scripts/Server/controller.js"></script>
}
<div ng-view>

</div>