<ul class="nav navbar-nav">
	@*<li class="dropdown user user-menu" uib-dropdown>
		<!-- Menu Toggle Button -->
		<a href="#" class="dropdown-toggle" uib-dropdown-toggle>
			<!-- hidden-xs hides the username on small devices so only the image appears. -->
			<span>Fisher</span>
		</a>
		<ul class="dropdown-menu">
			<!-- The user image in the menu -->
			<li class="user-header">
				<p>
					<small>Member since Nov. 2012</small>
				</p>
			</li>
			<!-- Menu Footer-->
			<li class="user-footer">
				<div class="pull-left">
					<a href="#" class="btn btn-default btn-flat">Profile</a>
				</div>
				<div class="pull-right">
					<a href="#" class="btn btn-default btn-flat">Sign out</a>
				</div>
			</li>
		</ul>
	</li>*@

	<li class="dropdown user user-menu">
		<a href="javascript:;" ng-click="layout.Signout()">
			<span>退出</span>
		</a>
	</li>
</ul>