<ul class="sidebar-menu">
	<li class="header">概览</li>
	<li side-bar-menu fa="fa-line-chart" title="概览" href="/#/"></li>
	<li side-bar-menu fa="fa-dashboard" title="实时监控" href="/#/Monitor"></li>

	<li class="header">人员管理</li>
	@*<li side-bar-menu fa="fa-users" title="普通用户管理" href="/Users#/Customer"></li>*@
	<li side-bar-menu fa="fa-user-secret" title="管理员管理" href="/Users#/Admin"></li>

	<li class="header">数据库</li>
	<li side-bar-menu fa="fa-database" title="分区表概览" href="/Database#/PartitionDetail"></li>
	<li side-bar-menu fa="fa-wrench" title="分区" href="/Database#/PartitionHandle"></li>

	<li class="header">服务器</li>
	<li side-bar-menu fa="fa-windows" title="IIS使用情况" href="/Server#/IISStatus"></li>
	<li side-bar-menu fa="fa-server" title="Tcp服务器使用情况" href="/Server#/TcpServerStatus"></li>
	<li side-bar-menu fa="fa-globe" title="Tcp Guid授权" href="/Server#/Guids"></li>


	<li class="header">文档日志</li>
	<li side-bar-menu fa="fa-file-text" title="文档" href="/Log#/Specification"></li>
	<li side-bar-menu fa="fa-laptop" title="系统日志" href="/Log#/YummyOnline"></li>
	<li side-bar-menu fa="fa-map-marker" title="饭店日志" href="/Log#/Hotel"></li>
</ul>