
<div class="box">
	<div class="box-header">
		<h3 class="box-title">
			{{logDetail.Hotel.Name}} <small>{{logDetail.Hotel.Id}}</small> 日志
			<small class="hidden-xs">{{currDateTime | date:'yyyy-M-d'}} {{currCount}}</small>
		</h3>
		<div class="box-tools pull-right">
			<button class="btn btn-box-tool"
					uib-datepicker-popup
					show-button-bar="false"
					popup-placement="bottom-right"
					datepicker-append-to-body="true"
					ng-model="currDateTime"
					ng-click="isOpen = true"
					is-open="isOpen">
				<i class="fa fa-calendar"></i>
			</button>

			<div class="btn-group" uib-dropdown>
				<button class="btn btn-box-tool" uib-dropdown-toggle>
					<i class="fa fa-chevron-down"></i>
				</button>
				<ul uib-dropdown-menu>
					<li ng-repeat="hotel in hotels">
						<a href="/Log#/Hotel/{{hotel.Id}}">{{hotel.Id}} {{hotel.Name}}</a>
					</li>
					<li class="divider"></li>
					<li><a href="javascript:;" ng-click="changeLogCount(100)">100</a></li>
					<li><a href="javascript:;" ng-click="changeLogCount(200)">200 </a></li>
					<li><a href="javascript:;" ng-click="changeLogCount()">All</a></li>
				</ul>
			</div>

			<button class="btn btn-box-tool"
					ng-click="refresh()">
				<i class="fa fa-refresh"></i>
			</button>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table table-bordered no-margin">
			<tr>
				<th>等级</th>
				<th>内容</th>
				<th>时间</th>
			</tr>
			<tr ng-show="isLoading">
				<td colspan="3"><b><i class="fa fa-spinner fa-pulse fa-fw"></i> Loading...</b></td>
			</tr>
			<tr ng-hide="isLoading" ng-class="log.Class" ng-repeat="log in logDetail.Logs">
				<td>{{log.Level}}</td>
				<td>{{log.Message}}</td>
				<td class="no-wrap">{{log.DateTime | date:'yyyy/M/d HH:mm:ss'}}</td>
			</tr>
		</table>
	</div>
</div>