
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>联系我们</title>
    <link rel="stylesheet" href="~/node_modules/materialize-v0.97.7/materialize/css/materialize.css" />
    <link rel="stylesheet" href="~/node_modules/materialize-v0.97.7/materialize/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div>
        <div class="row">
            <div class="col s12 m5">
                <div class="card-panel teal">
                    <div class="white-text">
                        <p>
                            联系方式
                            <br />
                        </p>
                        <p>
                            电话：021-6660 1020
                        </p>
                        <p>
                            传真：021-6660 1020
                        </p>
                        <p>
                            邮箱：choice_dxe@163.com
                        </p>
                        <p>
                            地址：上海市虹口区花园路66弄1号602室
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
