
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>公司介绍</title>
    <link rel="stylesheet" href="~/node_modules/materialize-v0.97.7/materialize/css/materialize.css" />
    <link rel="stylesheet" href="~/node_modules/materialize-v0.97.7/materialize/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div>
        <div class="row">
            <div class="col s12 m5">
                <div class="card-panel teal">
                    <div class="white-text">
                        <p>
                            上海乔曦信息技术有限公司是一家将移动互联网技术应用于传统行业的创新型技术服务公司，致力于移动互联网系统的行业应用和大数据挖掘的增值服务。
                        </p>
                        <p>
                            我们的目标是通过技术创新引领行业的创新型服务模式，进而改变人们的消费模式和生活模式！
                        </p>
                        <p>
                            我们的理念是让服务更便捷，让生活更美好！
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
