
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>产品介绍</title>
    <link rel="stylesheet" href="~/node_modules/materialize-v0.97.7/materialize/css/materialize.css" />
    <link rel="stylesheet" href="~/node_modules/materialize-v0.97.7/materialize/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="row">
        <div class="col-sm- l1">
            <div class="col-sm- l1 m4">
                <a href="http://mp.weixin.qq.com/s?__biz=MzIyNzQxOTg1MQ==&mid=100000081&idx=1&sn=2505ac9e23995714b49cca1122ece2bd#rd">
                    <i class="medium material-icons">language</i>
                    <p>系统总图</p>
                </a>
            </div>
            <div class="col-sm- 3 m4">
                <a href="http://mp.weixin.qq.com/s?__biz=MzIyNzQxOTg1MQ==&mid=100000083&idx=1&sn=bc0bbf22bba637121f7bedc919003147#rd">
                    <i class="medium material-icons">info</i>
                    <p>版本种类</p>
                </a>
            </div>
            <div class="col-sm- 3">
                <a href="http://www.rabbitpre.com/m/fERuy7QYX">
                    <i class="medium material-icons">info</i>
                    <p>店小二</p>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
