<div class="box box-default">
	<div class="table-responsive">
		<table class="table no-margin">
			<tr>
				<th>Id</th>
				<th>注册日期</th>
				<th>手机</th>
				<th>邮箱</th>
				<th>用户名</th>
				<th>历史点单数量</th>
				<th class="shrink text-right">历史订单</th>
			</tr>
			<tr ng-show="isLoading">
				<td colspan="7"><b><i class="fa fa-spinner fa-pulse fa-fw"></i> Loading...</b></td>
			</tr>
			<tbody ng-hide="isLoading" ng-repeat="customer in customers">
				<tr>
					<td>{{customer.Id}}</td>
					<td>{{customer.CreateDate | date:'yyyy/M/d HH:mm:ss'}}</td>
					<td>{{customer.PhoneNumber}}</td>
					<td>{{customer.Email}}</td>
					<td>{{customer.UserName}}</td>
					<td>{{customer.DineCount}}</td>
					<td class="text-right">
						<button class="btn btn-sm btn-primary" ng-click="showUserDines(customer)">
							<span ng-show="customer.IsLoading"><i class="fa fa-spinner fa-pulse fa-fw"></i> 正在查询...</span>
							<span ng-hide="customer.IsLoading">
								<i class="fa fa-toggle-off" ng-show="!customer.IsShowUserDines"></i>
								<i class="fa fa-toggle-on" ng-show="customer.IsShowUserDines"></i>
								查询
							</span>
						</button>
					</td>
				</tr>
				<tr ng-show="customer.IsShowUserDines">
					<td colspan="7" class="bg-gray-light">
						<p class="text-danger no-margin" ng-if="customer.DineHotels.length == 0">无订单</p>
						<div ng-repeat="dineHotel in customer.DineHotels">
							<h4>{{dineHotel.Hotel.Name}} <small>{{dineHotel.Hotel.Id}}</small></h4>
							<div class="waterfall-4">
								<div class="waterfall-item" ng-repeat="dine in dineHotel.Dines">
									@Html.Partial("~/Views/Shared/_PartialDine.cshtml")
								</div>
							</div>
							<hr ng-show="$index + 1 != customer.DineHotels.length" />
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="box-body">
		<div class="text-center">
			<uib-pagination previous-text="&lsaquo;" next-text="&rsaquo;"
							total-items="count"
							items-per-page="countPerPage"
							ng-model="currPage"
							ng-change="refresh()"
							max-size="5"></uib-pagination>
		</div>
		<p class="no-margin"><b>用户总数：</b> {{count}}</p>
	</div>
</div>
