
<div class="box box-default">
	<div class="box-header">
		<h3 class="box-title">管理员</h3>
	</div>

	<div class="table-responsive">
		<table class="table no-margin">
			<tr>
				<th>Id</th>
				<th>手机</th>
				<th>邮箱</th>
				<th>用户名</th>
				<th>注册日期</th>
				@if(User.IsInRole(nameof(YummyOnlineDAO.Models.Role.SuperAdmin))) {
					<th class="shrink"></th>
				}
			</tr>
			<tr ng-show="isLoading">
				@if(User.IsInRole(nameof(YummyOnlineDAO.Models.Role.SuperAdmin))) {
					<td colspan="6"><b><i class="fa fa-spinner fa-pulse fa-fw"></i> Loading...</b></td>
				}
				else {
					<td colspan="5"><b><i class="fa fa-spinner fa-pulse fa-fw"></i> Loading...</b></td>
				}
			</tr>
			<tr ng-hide="isLoading" ng-repeat="admin in admins">
				<td>{{admin.Id}}</td>
				<td>{{admin.PhoneNumber}}</td>
				<td>{{admin.Email}}</td>
				<td>{{admin.UserName}}</td>
				<td>{{admin.CreateDate | date:'yyyy/M/d HH:mm:ss'}}</td>
				@if(User.IsInRole(nameof(YummyOnlineDAO.Models.Role.SuperAdmin))) {
					<td class="text-right">
						<button class="btn btn-danger" confirm-click="deleteAdmin(admin)">删除</button>
					</td>
				}
			</tr>
		</table>
	</div>
	@if(User.IsInRole(nameof(YummyOnlineDAO.Models.Role.SuperAdmin))) {
		<div class="box-body">
			<div class="input-group">
				<input type="text" class="form-control" ng-model="newAdminPhoneNumber">
				<div class="input-group-btn">
					<button type="button" class="btn btn-primary" confirm-class="btn-danger" confirm-click="addAdmin()">添加</button>
				</div>
			</div>
		</div>
	}
</div>