
<div class="row">
	<div class="col-md-3">
		<div class="box box-default">
			<div class="box-header with-border">
				<h3 class="box-title">统计操作</h3>
			</div>
			<div class="box-body">
				<p><b>匿名用户总数：</b> {{nemoes.Count}}</p>
				@if(User.IsInRole(nameof(YummyOnlineDAO.Models.Role.SuperAdmin))) {
					<p class="no-margin">
						<b>删除未点单的匿名用户：</b>
						<button class="btn btn-danger" confirm-click="deleteNemoesHavenotDine()">删除</button>
					</p>
				}
			</div>
		</div>
	</div>

	<div class="col-md-9">
		<div class="box box-default">
			<div class="box-header">
				<h3 class="box-title">近 {{days}} 日匿名用户</h3>
				<div class="box-tools pull-right">
					<div class="btn-group" uib-dropdown>
						<button class="btn btn-box-tool" uib-dropdown-toggle>
							<i class="fa fa-chevron-down"></i>
						</button>
						<ul uib-dropdown-menu>
							<li><a href="javascript:;" ng-click="refresh(7)">近 7 日</a></li>
							<li><a href="javascript:;" ng-click="refresh(14)">近 14 日</a></li>
							<li><a href="javascript:;" ng-click="refresh(30)">近 1 月</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table no-margin">
					<tr>
						<th>Id</th>
						<th>生成日期</th>
						<th>历史点单数量</th>
					</tr>
					<tr ng-repeat="nemo in nemoes.Users">
						<td>{{nemo.Id}}</td>
						<td>{{nemo.CreateDate | date:'yyyy/M/d HH:mm:ss'}}</td>
						<td>{{nemo.DineCount}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
