
@{
	Layout = "~/Views/Shared/_LayoutGlobal.cshtml";
}
@section Script{
	<script src="~/Scripts/Users/controllers.js"></script>
	<script src="~/Scripts/Users/route.js"></script>
}

<div ng-view>

</div>
