<!DOCTYPE html>

<html lang="zh-cn" ng-app="app">
<head>
	<meta charset="utf-8" />
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<link href="css/adminlte.min.css" rel="stylesheet" />
	<link href="css/font-awesome.min.css" rel="stylesheet" />
	<link href="css/skin-blue.min.css" rel="stylesheet" />
	<link href="css/main.css" rel="stylesheet" />
	<title></title>
</head>
<body class="skin-blue" ng-controller="mainCtrl">
	<div class="wrapper">
		<header class="main-header">
			<a class="logo">
				<span class="logo-lg">YummyOnline</span>
			</a>
			<nav class="navbar navbar-static-top" role="navigation">
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
					<span class="sr-only">Toggle navigation</span>
				</a>
				<div class="navbar-custom-menu">

				</div>
			</nav>
		</header>

		<aside class="main-sidebar">
			<section class="sidebar">
				<ul class="sidebar-menu">
					<li class="header">测试</li>
					<li>
						<div>
							<label>本地测试IP:</label>

							<input class="form-control" type="text" ng-model="localIP" />

							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="recipt"> 收银条
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="serveOrder"> 传菜单
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="kitchenOrder"> 厨房单
								</label>
							</div>
						</div>
					</li>
					<li><a href="javascript:;" ng-click="testLocalDines()">打印本地测试单</a></li>
					<li><a href="javascript:;" ng-click="testRemoteDines()">打印远程测试单</a></li>
					<li><a href="javascript:;" ng-click="connectPrinter()">预连接打印机</a></li>
					<li><a href="javascript:;" ng-click="connectPrinters()">预连接所有打印机</a></li>
				</ul>
			</section>
		</aside>
		<div class="content-wrapper">

			<section class="content">
				<div class="row">
					<div class="col-md-3">
						<div class="box">
							<div class="box-header">
								<h3 class="box-title">服务器日志</h3>
							</div>
							<div class="table-responsive">
								<table class="table table-hover no-margin">
									<tr>
										<th class="shrink">时间</th>
										<th>日志</th>
									</tr>
									<tr ng-repeat="log in logs">
										<td class="shrink">{{log.DateTime | date:'yyyy/M/d HH:mm:ss'}}</td>
										<td>{{log.Message}}</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="box">
							<div class="box-header">
								<h3 class="box-title">打印机日志</h3>
							</div>
							<div class="table-responsive">
								<table class="table table-hover no-margin">
									<tr>
										<th class="shrink">时间</th>
										<th class="shrink">IP</th>
										<th>日志</th>
										<th class="shrink">打印编号</th>
									</tr>
									<tr ng-repeat="log in ipPrinterLogs">
										<td class="shrink">{{log.DateTime | date:'yyyy/M/d HH:mm:ss'}}</td>
										<td class="shrink">{{log.IP}}</td>
										<td>{{log.Message}}</td>
										<td class="shrink">{{log.HashCode}}</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="box">
							<div class="box-header">
								<h3 class="box-title">打印机日志</h3>
							</div>
							<div class="table-responsive">
								<table class="table table-hover no-margin">
									<tr>
										<th class="shrink">IP</th>
										<th>状态</th>
										<th>等待</th>
										<th>空闲</th>
									</tr>
									<tr ng-repeat="status in ipPrinterStatuses">
										<td class="shrink">{{status.IP}}</td>
										<td>{{status.Status}}</td>
										<td>{{status.WaitedCount}}</td>
										<td>{{status.IdleTime}}</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</section>

		</div>
	</div>

	<script src="scripts/jquery.min.js"></script>
	<script src="scripts/angular.min.js"></script>
	<script src="scripts/app.min.js"></script>
	<script src="scripts/main.js"></script>
</body>
</html>