body {
	font-family: 'Microsoft YaHei UI','Microsoft YaHei',sans-serif;
	background-color: #ecf0f5;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Microsoft YaHei UI','Microsoft YaHei',sans-serif;
}

.table > tbody > tr > td.shrink,
.table > tbody > tr > th.shrink,
.table > tfoot > tr > td.shrink,
.table > tfoot > tr > th.shrink,
.table > thead > tr > td.shrink,
.table > thead > tr > th.shrink {
	width: 1px;
	white-space: nowrap;
}

.sidebar-menu > li > div {
	color: #b8c7ce;
	padding: 12px 15px;
}
