
<nav class="clearfix">
	<div class="pull-left">
		<button class="btn btn-circle" back-button><i class="fa fa-chevron-left"></i></button>
	</div>
	<div class="pull-right">
		<a class="btn btn-circle" href="/Account/Index">
			<i class="fa fa-user"></i>
		</a>
	</div>
	<div class="nav-title">
		@Model
	</div>
</nav>