
<div class="bar-btn-group pull-left">
	<a class="btn btn-default btn-circle" href="/Order#/History">
		<img src="~/Content/image/list.png" />
	</a>
	<p>历史订单</p>
</div>

<div class="bar-btn-group bar-btn-group-cart">
	<a class="btn" href="/Order#/Menu">
		<img src="~/Content/image/@ViewBag.HotelId/btn-cart.png" />
	</a>
	<p>点单</p>
</div>