
@{

    Layout = null;
}

<div ng-controller="MenuSetMealsCtrl">
    <button class="btn btn-app btn-danger btn-xs" ng-click="close()">
        全部禁用
        <i class="icon-ban-circle bigger-230"></i>
    </button>
    <button class="btn btn-app btn-primary btn-xs" ng-click="open()">
        全部启用
        <i class="icon-ok-circle bigger-230"></i>
    </button>
    <table class="table table-bordered table-hover table-striped table-responsive">
        <thead><tr><th>套餐号</th><th>套餐名称</th><th>可用状态</th><th class="col-md-2">相关操作</th></tr></thead>

        <tr ng-repeat="menuSetMeal in menuSetMeals">

            <td>
                <span >{{menuSetMeal.Id}}</span>
            </td>
            <td>
                <span>{{menuSetMeal.Name}}</span>
            </td>
            <td>
                <span class="label label-success arrowed" ng-if="menuSetMeal.Status">可用</span>
                <span class="label label-warning" ng-if="!menuSetMeal.Status">
                    <i class="icon-warning-sign bigger-120"></i>
                    不可用
                </span>
            </td>
            <td>
                <button type="button" class="btn btn-minier btn-danger dropdown-toggle" ng-click="switch(menuSetMeal)" ng-if="menuSetMeal.Usable">
                    @*禁用*@
                    <i class="icon-ban-circle icon-on-right bigger-110"></i>
                </button>
                <button type="button" class="btn btn-minier btn-success dropdown-toggle" ng-click="switch(menuSetMeal)" ng-if="!menuSetMeal.Usable">
                    @*启用*@
                    <i class="icon-ok-circle icon-on-right bigger-110"></i>
                </button>
            </td>
        </tr>
       


    </table>
</div>
