@{
    Layout = null;
}

<link href="../Content/css/style.css" rel="stylesheet" />

<div class="row" ng-init="Initialize()">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-header">
                <h4>
                    积分设置
                    <small>如果不使用积分则填0</small>
                </h4>

                <div class="widget-toolbar">
                    <a href="/#" data-action="collapse">
                        <i class="icon-chevron-up"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div>
                        <label for="form-field-8">积分兑换比率</label>

                        <input type="number" ng-model="PrintElement.Rate" ng-change="Max()" />
                        <span ng-if="PrintElement.Rate!=0">100 积分 等于 {{(100/PrintElement.Rate).toFixed(0)}}元</span>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        选择风格:
                        <select ng-options="sytle.Name for sytle in PrintElement.Styles" ng-model="PrintElement.CurrentStyle"></select>
                    
                    </div>
                </div>
            </div>
        </div>

        <div class="widget-box">
            <div class="widget-header">
                <h4>
                    饭店杂项设置
                </h4>

                <div class="widget-toolbar">
                    <a href="/#" data-action="collapse">
                        <i class="icon-chevron-up"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div>
                        <label for="form-field-10">选择交接班打印机</label>
                        <select ng-options="print.Name for print  in PrintElement.Printers" ng-model="PrintElement.CurrentPrinter"></select>

                        是否使用打印机:
                        <label>
                            <input name="form-field-checkbox" class="ace ace-checkbox-2" type="checkbox" ng-model="PrintElement.UsePrint" />
                            <span class="lbl">使用网络打印机</span>
                        </label>

                        <br />
                        是否为先支付:
                        <label>
                            <input name="form-field-checkbox" class="ace ace-checkbox-2" type="checkbox" ng-model="PrintElement.IsPayFirst" />
                            <span class="lbl">先支付</span>
                        </label>

                        <br />
                        是否随机立减:
                        <label>
                            <input name="form-field-checkbox" class="ace ace-checkbox-2" type="checkbox" ng-model="PrintElement" />
                            <span class="lbl">是</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="widget-box">
            <div class="widget-header">
                <h4>
                    打印机格式设置
                </h4>

                <div class="widget-toolbar">
                    <a href="/#" data-action="collapse">
                        <i class="icon-chevron-up"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div>
                        选择字体: <select ng-options="font.Name for font  in PrintElement.Fonts track by $index" ng-model="PrintElement.CurrentFont"></select>
                        厨房大字号:
                        <input type="number" class="FormatPrint" ng-model="PrintElement.CurrentFormat.KitchenOrderFontSize" />
                        厨房小字号:
                        <input type="number" class="FormatPrint" ng-model="PrintElement.CurrentFormat.KitchenOrderSmallFontSize" />
                        纸张大小:
                        <input type="number" class="FormatPrint" ng-model="PrintElement.CurrentFormat.PaperSize" />
                        收银大字号:
                        <input type="number" class="FormatPrint" ng-model="PrintElement.CurrentFormat.ReciptBigFontSize" />
                        收银正常字号:
                        <input type="number" class="FormatPrint" ng-model="PrintElement.CurrentFormat.ReciptFontSize" />
                        收银小字号:
                        <input type="number" class="FormatPrint" ng-model="PrintElement.CurrentFormat.ReciptSmallFontSize" />
                        传菜大字号:
                        <input type="number" class="FormatPrint" ng-model="PrintElement.CurrentFormat.ServeOrderFontSize" />
                        传菜小字号:
                        <input type="number" class="FormatPrint" ng-model="PrintElement.CurrentFormat.ServeOrderSmallFontSize" />
                        交接班大字号:
                        <input type="number" class="FormatPrint" ng-model="PrintElement.CurrentFormat.ShiftBigFontSize" />
                        交接班小字号:
                        <input type="number" class="FormatPrint" ng-model="PrintElement.CurrentFormat.ShiftSmallFontSize" />
                        交接班字号:
                        <input type="number" class="FormatPrint" ng-model="PrintElement.CurrentFormat.ShiftFontSize" />
                        颜色深度(10-250,推荐200):
                        <input type="number" class="FormatPrint" ng-model="PrintElement.CurrentFormat.ColorDepth" />
                    </div>
                </div>
            </div>
        </div>

        <a href="javascript:;" class="btn btn-app btn-primary btn-xs" ng-click="changeInfo()">
            <i class="icon-save bigger-230"></i>
            保存
        </a>

        <div class="widget-box">
            <div class="widget-header">
                <h4>
                    图片设置
                </h4>

                <div class="widget-toolbar">
                    <a href="/#" data-action="collapse">
                        <i class="icon-chevron-up"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div>
                        <form ng-submit="Upload()" name="Other" id="Other">
                            上传Logo
                            <input type="file" name="logo" id="logo"/>
                            上传下单按钮
                            <input type="file" name="button" id="button" />
                            上传支付完成图片
                            <input type="file" name="complete" id="complete" />
                            <br />
                            <nobr>
                                上传空图片
                                <input type="file" name="null" id="null" />
                                <button class="btn btn-default" type="submit">上传</button>
                            </nobr>
                        </form>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>