@{
    Layout = null;
}
<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover nomargin">
                <thead>
                    <tr>
                        <th>原因</th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="reason in ReturnElements.Reasons">
                        <td>
                            {{reason.Description}}
                        </td>
                        <td>
                            <a href="javascript:;" class="tooltip-error" data-rel="tooltip" title="编辑" ng-click="OpenEditModel(reason)">
                                <span class="blue">
                                    <i class="icon-edit bigger-120"></i>
                                </span>
                            </a>
                            <a href="javascript:;" class="tooltip-error" data-rel="tooltip" title="删除" ng-click="DeleteReason(reason)">
                                <span class="red">
                                    <i class="icon-trash bigger-120"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table><!--table over-->
        </div><!--table over-->
        <p>
            <a href="javascript:;" class="btn btn-app btn-primary btn-xs" ng-click="OpenAddModel()">
                <i class="icon-edit bigger-230"></i>
                添加
            </a>
        </p>
    </div><!--col over-->
</div>

<script type="text/ng-template" id="ModalReasonEdit.html">
    <form ng-submit="Edit()">
        <div class="modal-header">
            <h3 class="modal-title">
                修改退菜原因信息
            </h3>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                名称:<input type="text" ng-model="ReturnElements.CurrentReason.Description" />
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit"><img src="../../Content/images/loading.gif" ng-if="ReturnElements.isAjax" style="vertical-align:middle;" />修改</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="ModalReasonAdd.html">
    <form ng-submit="Add()">
        <div class="modal-header">
            <h3 class="modal-title">
                新增退菜原因信息
            </h3>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                名称:<input type="text" ng-model="ReturnElements.CurrentReason.Description" />
             </div>     
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit" ><img src="../../Content/images/loading.gif" ng-if="ReturnElements.isAjax" style="vertical-align:middle;" />添加</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
        </div>
    </form>
</script>

