@{
    Layout = null;
}
<link href="../Content/css/style.css" rel="stylesheet" />
<div class="row" ng-init="Initialize()">
    <div class="col-xs-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>套餐名称</th>
                    <th>价格</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="meal in MealElement.Meals">
                    <td>{{meal.MealMenu.Name}}</td>
                    <td class="text-right">{{meal.MealMenu.MenuPrice.Price|currency:'￥'}}</td>
                    <td>
                        <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                            <button class="btn btn-xs btn-info" ng-click="OpenEditModel(meal)">
                                <i class="icon-edit bigger-120"></i>
                            </button>
                            <button class="btn btn-xs btn-danger" ng-click="DeleteMeal(meal)">
                                <i class="icon-trash bigger-120"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table><!--table over-->
    </div>
    @*<div class="col-xs-6 col-sm-3 pricing-box" ng-repeat="meal in MealElement.Meals ">
        <div class="widget-box">
            <div class="widget-header header-color-dark">
                <h5 class="bigger lighter">{{meal.MealMenu.Name}}</h5>
                <div class="pull-right" style="margin-right:5px;cursor:pointer;" ng-click="DeleteMeal(meal)">
                    <i class="icon-remove red"></i>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <ul class="list-unstyled spaced2">
                        <li ng-repeat="menu in meal.Menus">
                            <i class="icon-ok green"></i>
                            {{menu.Menu.Name}} * {{menu.Count}}{{menu.Menu.Unit}}
                        </li>
                    </ul>

                    <hr />
                    <div class="price">
                        ￥{{meal.MealMenu.MenuPrice.Price.toFixed(2)}}
                        <small>/{{meal.MealMenu.Unit}}</small>
                    </div>
                </div>

                <div>
                    <a href="javascript:;" class="btn btn-block btn-inverse" ng-click="OpenEditModel(meal)">
                        <i class="icon-edit bigger-110"></i>
                        <span>编辑</span>
                    </a>
                </div>
            </div>
        </div>
    </div>*@
</div>


<script type="text/ng-template" id="ModalMealEdit.html">
    <form ng-submit="EditMeal()"> 
        <div class="modal-header">
            <h3 class="modal-title">
                修改套餐  -- <input type="text" ng-model="MealElement.CurMeal.MealMenu.Name" maxlength="30" /> 价格 <input type="number" ng-model="MealElement.CurMeal.MealMenu.MenuPrice.Price" min="0"/>
            </h3>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>菜品</th>
                                    <th>数量</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="menu in MealElement.CurMeal.Menus">
                                    <td>{{menu.Menu.Name}}</td>
                                    <td>{{menu.Count}}</td>
                                    <td>
                                        <a href="javascript:;" class="tooltip-error" data-rel="tooltip" title="删除" ng-click="DeleteMenu(menu)">
                                            <span class="red">
                                                <i class="icon-trash bigger-120"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-8">
                        <input type="text" ng-model="MealElement.FilterInfo" class="form-control" />
                        <div style="max-height:200px;overflow:auto;">
                            <ul style="list-style:none;" class="OpenList">
                                <li ng-repeat="menu in MealElement.Menus|filter:{$:MealElement.FilterInfo}" ng-click="SelectChange(menu)">
                                    {{menu.Name}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        数量:<input type="number" ng-model="MealElement.AddMenu.Num" ng-change="NumChange()" class="num-spinner" />
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-success" type="button" ng-click="AddMenuInMeal()">添加</button>
                    </div>
                </div><!-- row end  -->
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit"  ng-disabled="MealElement.isAjax"><img src="../../Content/images/loading.gif" ng-if="MealElement.isAjax" style="vertical-align:middle;" />修改</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
        </div>
    </form>
</script>