@{
	Layout = "~/Views/Shared/_LayoutGlobal.cshtml";
}

<div>

	<h1 class="text-danger text-center"><span class="fa fa-times-circle"></span></h1>

	<p class="text-danger text-center">缺少饭店信息或桌号信息，请重新扫一扫</p>

</div>