@{
	Layout = "~/Views/Shared/_LayoutGlobal.cshtml";
}

<div>
	<h1 class="text-danger text-center"><span class="fa fa-times-circle"></span></h1>
	<p class="text-danger text-center">404</p>
	<p class="text-danger text-center">该页面没有找到，请重新扫一扫</p>
</div>