@{
	Layout = "~/Areas/Waiter/Views/Shared/_LayoutGlobal.cshtml";
}
@section Script{
	<script src="~/Areas/Waiter/Scripts/Order/route.js"></script>
	<script src="~/Areas/Waiter/Scripts/Order/factories.js"></script>
	<script src="~/Areas/Waiter/Scripts/Order/controllers.js"></script>
}

@Html.Partial("_PartialLoading")

<div ng-view>

</div>
