<div class="box">
	<div class="box-body">
		<div class="form-group">
			<select class="form-control" ng-model="hotelId" ng-change="refreshArticles(hotelId)" convert-to-number>
				<option ng-repeat="hotel in hotels" value="{{hotel.Id}}">{{hotel.Name}} ({{hotel.Id}})</option>
			</select>
		</div>

	</div>
	<div class="table-responsive">
		<table class="table no-margin">
			<tr>
				<th>Id</th>
				<th>标题</th>
				<th>简介</th>
				<th>图片链接</th>
				<th>正文链接</th>
				<th>创建日期</th>
				<th>状态</th>
				<th class="shrink text-right"></th>
			</tr>
			<tr ng-repeat="article in articles">
				<td class="shrink">{{article.Id}}</td>
				<td>{{article.Title}}</td>
				<td>{{article.Description}}</td>
				<td><a ng-href="{{article.PicturePath}}">{{article.PicturePath}}</a></td>
				<td><a ng-href="{{article.Body}}">{{article.Body}}</a></td>
				<td class="shrink">{{article.DateTime | date:'yyyy/M/d HH:mm:ss'}}</td>
				<td class="shrink">
					<span class="danger" ng-if="article.Status == 0">审核未通过</span>
					<span class="success" ng-if="article.Status == 1">审核通过</span>
				</td>
				<td>
					<button class="btn btn-danger" confirm-click="remove(article)">删除</button>
				</td>
			</tr>
		</table>
	</div>
</div>

<div class="box">
	<div class="box-header">
		<h3 class="box-title">添加文章</h3>
	</div>
	<div class="box-body">
		<div class="form-group">
			<label>标题</label>
			<input class="form-control" type="text" ng-model="newArticle.Title" />
		</div>
		<div class="form-group">
			<label>简介</label>
			<input class="form-control" type="text" ng-model="newArticle.Description" />
		</div>
		<div class="form-group">
			<label>图片链接</label>
			<input class="form-control" type="text" ng-model="newArticle.PicturePath" />
		</div>
		<div class="form-group">
			<label>正文链接</label>
			<input class="form-control" type="text" ng-model="newArticle.Body" />
		</div>
		<div class="text-right">
			<button class="btn btn-primary" confirm-class="btn-danger" confirm-click="add()">添加</button>
		</div>
	</div>
</div>