
@{
	ViewBag.Title = "饭店管理";
	Layout = "~/Views/Shared/_LayoutGlobal.cshtml";
}
@section Style{
	<link href="//cdn.bootcss.com/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
}
@section Script{
	<script src="~/Scripts/lib/kindeditor.js"></script>
	<script src="~/Scripts/lib/zh_CN.js"></script>

	<script src="//cdn.bootcss.com/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>
	<script src="~/Scripts/Hotel/route.js"></script>
	<script src="~/Scripts/Hotel/controllers.js"></script>
}
<div ng-view>
	
</div>
