@{
    Layout = null;
}


<link href="../Content/css/daterangepicker.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-8 col-xs-12">
        <form class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <label class="control-label">选择开始和结束时间:</label>
                    <div class="controls">
                        <div class="input-prepend input-group">
                            <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                            <input type="text" style="width:600px;" name="reservation" id="reservation" class="form-control" daterange date-start="KindElement.DateStart" date-end="KindElement.DateEnd" value="@(DateTime.Now.ToString("yyyy-MM-dd") + "- " + DateTime.Now.ToString("yyyy-MM-dd"))"/>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-md-4 col-xs-12">
        <button type="button" class="btn btn-purple btn-sm" style="margin-top:28px;" ng-click="Search()">
            查找
            <i class="icon-search icon-on-right bigger-110"></i>
        </button>
    </div>
</div>
<div class="vspace-xs-6"></div>
<div class="row">
    <div class="col-sm-12">
        <div class="tabbable tabs-below">
            <div class="tab-content">
                <div id="home2" class="tab-pane in active">
                    <p>
                        <table class="table table-bordered table-hover table-striped table-responsive" id="datatable">
                            <thead>
                                <tr>
                                    <th class="text-center">名称</th>
                                    <th class="text-center">金额</th>
                                    <th class="text-center">占比</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="kind in KindElement.KindTypeData">
                                    <td>{{kind.PayKind.Name}}</td>
                                    <td class="text-right">{{kind.Total.toFixed(2)}}</td>
                                    <td class="text-right">{{kind.Point.toFixed(2)}}%</td>
                                </tr>
                            </tbody>
                        </table>
                    </p>
                </div>

                <div id="profile2" class="tab-pane">
                    <p>
                        <div id="DataReport"></div>
                    </p>
                </div>

                <div id="profile3" class="tab-pane">
                    <p>
                        <table class="table table-bordered table-hover table-striped table-responsive" id="datatable">
                            <thead>
                                <tr>
                                    <th class="text-center">时间</th>
                                    <th class="text-center" ng-repeat="paykind in KindElement.PayKinds">{{paykind}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="detail in KindElement.Details">
                                    <td>{{detail.Time|date:'yyyy-MM-dd'}}</td>
                                    <td ng-repeat="pay in detail.Detail" class="text-right">{{pay.Total.toFixed(2)}}</td>
                                </tr>
                                <tr>
                                    <td>总计</td>
                                    <td class="text-right" ng-repeat="sp in KindElement.sumPrice track  by $index">{{sp.toFixed(2)}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </p>
                </div>
            </div>

            <ul class="nav nav-tabs" id="myTab2">
                <li class="active">
                    <a data-toggle="tab" href="/#home2">报表</a>
                </li>

                <li>
                    <a data-toggle="tab" href="/#profile2">图表</a>
                </li>

                <li>
                    <a data-toggle="tab" href="/#profile3">收银明细</a>
                </li>
            </ul>
        </div>
    </div>
</div>














<script src="../FrameWorks/moment.js"></script>
<script src="../FrameWorks/daterangepicker.js"></script>