
<div uib-dropdown>
	<div uib-dropdown-toggle>
		选项
	</div>
	<ul class="dropdown-menu">
		<li route-href="/Current">桌台订单</li>
		<li route-href="/History">当日订单</li>
		<li ng-click="openCustomerModal()">
			<span ng-show="cart.Customer==null">会员登录</span>
			<span ng-hide="cart.Customer==null">会员: {{cart.Customer.Id}}</span>
		</li>
		<li ng-click="signout()">退出</li>
	</ul>
</div>
