<div class="container-fluid" ng-static-height="50">
	<div ng-if="dine.length!=0"
		 ng-repeat="dine in dines">
		@Html.Partial("_PartialDine")
	</div>

	<ul class="list-group li-group-no-border-radius" ng-if="dines.length == 0">
		<li class="list-group-item">
			暂无订单
		</li>
	</ul>
</div>


<section>
	<ul class="control">
		<li class="control-btn control-btn-3 no-border"
			route-href="/">
			返回
		</li>

		<li class="control-btn control-btn-6 control-btn-desk">
			@Html.Partial("_PartialOpenDesk")
		</li>

		<li class="control-btn control-btn-3 control-btn-option index">
			@Html.Partial("_PartialOpenOption")
		</li>
	</ul>
</section>