@Html.Partial("_PartialCustomerModal")

<div class="container-fluid">
	<ul class="list-group li-group-no-border-radius">
		<li class="list-group-item list-group-item-align">
			<div class="row">
				<div class="col-xs-6">
					{{cart.Desk.Name}}
				</div>
				<div class="col-xs-6 text-right">
					人数：
					<select class=""
							ng-model="cart.HeadCount" convert-to-number>
						<option ng-repeat="c in headCountsAll" value="{{c}}"
								ng-selected="cart.HeadCount == c">
							{{c}}
						</option>
					</select>
				</div>
			</div>

		</li>
		<li class="list-group-item">
			发票抬头：
			<input class="form-control input-sm form-control-inline" type="text" placeholder="置空不开具发票"
				   ng-model="cart.Invoice">
		</li>

		<li class="list-group-item">
			<div class="row"
				 ng-repeat="menu in cart.OrderedMenus">
				<div class="col-xs-6">
					{{menu.Name}}
					<span class="label label-default"
						  ng-repeat="remark in menu.Addition.Remarks">
						{{remark.Name}}
					</span>
				</div>
				<div class="col-xs-2 text-right">
					&times;{{menu.Addition.Ordered}}
				</div>
				<div class="col-xs-4 text-right text-danger">
					{{menu.MenuPrice.Price | currency : "￥"}}
				</div>
			</div>
		</li>

		<li class="list-group-item">
			<div class="row">
				<div class="col-xs-6">
					合计：
				</div>
				<div class="col-xs-6 text-danger text-right">
					{{cart.Price | currency : "￥"}}
				</div>
			</div>
			
			<div class="row" ng-if="cart.DiscountMethod.Discount<1">
				<div class="col-xs-9">
					折扣： {{cart.DiscountMethod.Name}}
				</div>
				<div class="col-xs-3 text-danger text-right">
					{{cart.DiscountMethod.Discount * 10}} 折
				</div>
			</div>
		</li>

		<li class="list-group-item">
			<div class="row">
				<div class="col-xs-6">
					总计：
				</div>
				<div class="col-xs-6 text-danger text-right">
					{{cart.GetSubmitPrice() | currency : "￥"}}
				</div>
			</div>
		</li>
	</ul>
</div>

<section>
	<ul class="control">
		<li class="control-btn control-btn-3 no-border"
			route-href="/">
			返回
		</li>

		<li class="control-btn control-btn-3 control-btn-desk">
			@Html.Partial("_PartialOpenDesk")
		</li>
		
		<li class="control-btn control-btn-3 control-btn-option">
			@Html.Partial("_PartialOpenOption")
		</li>

		<li class="control-btn control-btn-3"
			ng-hide="cart.Desk==null"
			ng-click="pay()">
			<span ng-show="!isSubmitting">确认下单</span>
			<span ng-show="isSubmitting">正在处理</span>
		</li>
	</ul>
</section>