@{
	Layout = "~/Views/Shared/_LayoutGlobal.cshtml";
}
@section Script{
	<script src="~/Scripts/Order/route.js"></script>
	<script src="~/Scripts/Order/factories.js"></script>
	<script src="~/Scripts/Order/controllers.js"></script>
}

@Html.Partial("_PartialLoading")

<div ng-view>

</div>
