@{
    Layout = null;
}

<div class="error-container">
    <div class="well">
        <h1 class="grey lighter smaller">
            <span class="blue bigger-125">
                <i class="icon-random"></i>
                500
            </span>
            发生未知错误
        </h1>

        <hr />
        <h3 class="lighter smaller">
            我们的程序员正在
            <i class="icon-wrench icon-animated-wrench bigger-125"></i>
            努力工作！
        </h3>

        <div class="space"></div>

        <div>
            <h4 class="lighter smaller">当然，你可以选择如下方式:</h4>

            <ul class="list-unstyled spaced inline bigger-110 margin-15">
                <li>
                    <i class="icon-hand-right blue"></i>
                    查看详细问题！
                </li>

                <li>
                    <i class="icon-hand-right blue"></i>
                    提供给我们错误信息！
                </li>
            </ul>
        </div>

        <hr />
        <div class="space"></div>

        <div class="center">
            <a href="javascript:window.history.go(-1);" class="btn btn-grey">
                <i class="icon-arrow-left"></i>
                返回
            </a>

            <a href="#/CheckOut" class="btn btn-primary">
                <i class="icon-dashboard"></i>
                返回控制面板
            </a>
        </div>
    </div>
</div>