@{
	Layout = "~/Views/Shared/_LayoutGlobal.cshtml";
}

<div>
	<h1 class="text-danger text-center"><span class="fa fa-times-circle"></span></h1>
	<p class="text-danger text-center">500</p>
	<p class="text-danger text-center">服务器出现内部错误，返回<a href="/">首页</a></p>
</div>