<span ng-init="websocketLocation='@ViewBag.WebSocketLocation'"></span>

<div class="box">
	<div class="box-header with-border">
		<h3 class="box-title">系统资源</h3>
	</div>
	<div class="box-body">
		<div id="system-line"></div>
	</div>
</div>

<div class="box">
	<div class="box-header with-border">
		<h3 class="box-title">IIS并发连接数</h3>
	</div>
	<div class="box-body">
		<div id="iis-line"></div>
	</div>
</div>
