@{
	Layout = "~/Views/Shared/_LayoutGlobal.cshtml";
}
@section Script{
	@Scripts.Render("~/scripts/highcharts")

	<script src="~/Scripts/DashBoard/websocket.js"></script>
	<script src="~/Scripts/DashBoard/controller.js"></script>
	<script src="~/Scripts/DashBoard/directives.js"></script>
	<script src="~/Scripts/DashBoard/route.js"></script>
}



<div ng-view></div>