
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>历史订单</title>
    <link rel="stylesheet" href="~/node_modules/materialize-v0.97.7/materialize/css/materialize.css" />
    <link rel="stylesheet" href="~/node_modules/materialize-v0.97.7/materialize/css/materialize.min.css" />
</head>
<body>
    <div class="card-panel blue">history</div>
    <div>

    </div>

    <div>
        <div class="card-panel">
            <span class="blue-text text-darken-2">This is a card panel with dark blue text</span>
        </div>
    </div>
    <div>
        <label id="label"></label>
    </div>
    <div>
        <a class="waves-effect waves-light btn" id="btn">button</a>
    </div>
    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/Script/History.js"></script>
</body>
</html>
