
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>历史订单</title>
    <link rel="stylesheet" href="~/node_modules/materialize-v0.97.7/materialize/css/materialize.css" />
    <link rel="stylesheet" href="~/node_modules/materialize-v0.97.7/materialize/css/materialize.min.css" />
</head>
<body>
    <div>
        <a class="waves-effect waves-light btn" id="btn">历史订单</a>
    </div>
    <div class="card-panel" id="dinelist"></div>
    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/Script/History.js"></script>
</body>
</html>
