
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["title "]</title>
    <link rel="stylesheet" href="~/node_modules/weui/dist/style/weui.css" />
    <link rel="stylesheet" href="~/node_modules/weui/dist/style/weui.min.css" />
</head>
<body>
    <div>
        <article class="weui_article">
            <h1></h1>
            <section>
                <h2 class="title"></h2>
                <section>
                    <h3></h3>        
                    <p>
                       @Html.Raw(ViewData["body"])
                    </p>
                </section>
            </section>
        </article>

    </div>
</body>
</html>
