body {
	font-family: "Microsoft Yahei";
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: "Microsoft Yahei";
}

.table > tbody + tbody {
	border-top: none;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
	vertical-align: middle;
}

	.table > tbody > tr > td.no-wrap,
	.table > tbody > tr > th.no-wrap,
	.table > tfoot > tr > td.no-wrap,
	.table > tfoot > tr > th.no-wrap,
	.table > thead > tr > td.no-wrap,
	.table > thead > tr > th.no-wrap {
		white-space: nowrap;
	}

	.table > tbody > tr > td.shrink,
	.table > tbody > tr > th.shrink,
	.table > tfoot > tr > td.shrink,
	.table > tfoot > tr > th.shrink,
	.table > thead > tr > td.shrink,
	.table > thead > tr > th.shrink {
		width: 1px;
		white-space: nowrap;
	}

.row.no-padding {
	margin: 0 -1px;
}

	.row.no-padding .col-xs-1,
	.row.no-padding .col-xs-2,
	.row.no-padding .col-xs-3,
	.row.no-padding .col-xs-4,
	.row.no-padding .col-xs-5,
	.row.no-padding .col-xs-6,
	.row.no-padding .col-xs-7,
	.row.no-padding .col-xs-8,
	.row.no-padding .col-xs-9,
	.row.no-padding .col-xs-10,
	.row.no-padding .col-xs-11,
	.row.no-padding .col-xs-12 {
		padding: 0 1px;
	}

.uib-datepicker-popup {
	padding: 5px;
}

.list-group {
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.pagination {
	margin-top: 0;
}

.waterfall-4 {
	-moz-column-count: 4;
	-webkit-column-count: 4;
	column-count: 4;
}

.waterfall-item {
	display: inline-block;
	width: 100%;
}

.checkbox.checkbox-inline {
	margin-left: 0;
	margin-right: 10px;
}

@media (max-width: 1200px) {
	.waterfall-4 {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
}

@media (max-width: 768px) {
	.uib-datepicker-popup {
		left: 50% !important;
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	.waterfall-4 {
		-moz-column-count: auto;
		-webkit-column-count: auto;
		column-count: auto;
	}

	.waterfall-item {
		display: block;
	}
}
