body {
	font-family: "Microsoft Yahei";
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: "Microsoft Yahei";
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
	vertical-align: middle;
}

.uib-datepicker-popup {
	padding: 5px;
}

@media (max-width: 768px) {
	.uib-datepicker-popup {
		left:50% !important;
		transform: translateX(-50%);
	}

}
