body {
	font-family: "Microsoft Yahei";
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: "Microsoft Yahei";
}

.table > tbody + tbody {
	border-top: none;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
	vertical-align: middle;
}

.uib-datepicker-popup {
	padding: 5px;
}

.list-group{
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.waterfall-4 {
	-moz-column-count: 4;
	-webkit-column-count: 4;
	column-count: 4;
}

.waterfall-item {
	display: inline-block;
	width: 100%;
}

@media (max-width: 768px) {
	.uib-datepicker-popup {
		left: 50% !important;
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	.waterfall-4 {
		-moz-column-count: auto;
		-webkit-column-count: auto;
		column-count: auto;
	}

	.waterfall-item {
		display: block;
	}
}
