<!DOCTYPE html>
<html lang="zh_cn" ng-app="waiterApp">
<head>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta charset="UTF-8">
	<title>店小二</title>
	<link href="~/Content/css/lib/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/css/lib/font-awesome.min.css" rel="stylesheet" />

	<link href="~/Content/css/lib/animate.min.css" rel="stylesheet">
	<link href="~/Content/css/lib/toastr.min.css" rel="stylesheet" />
	<link href="~/Content/css/global.css" rel="stylesheet" />
	<link href="~/Areas/Waiter/Content/css/waiterGlobal.css" rel="stylesheet" />
	@RenderSection("Style", false)
</head>
<body>
	@RenderBody()

	<script src="~/Scripts/lib/jquery-2.2.0.min.js"></script>
	<script src="~/Scripts/lib/angular.min.js"></script>
	<script src="~/Scripts/lib/angular-route.min.js"></script>
	<script src="~/Scripts/lib/angularjs-storage.min.js"></script>
	<script src="~/Scripts/lib/ui-bootstrap-tpls.min.js"></script>
	<script src="~/Scripts/lib/bootstrap.min.js"></script>
	<script src="~/Scripts/lib/toastr.min.js"></script>

	<script src="~/Areas/Waiter/Scripts/app.js"></script>
	<script src="~/Scripts/directives.js"></script>
	@RenderSection("Script", false)
</body>
</html>