<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="YummyOnlineConnString"
			  connectionString="Server=WIN-CFVAC5S3K3N; Database=YummyOnlineDB; Integrated Security=True"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>
	<appSettings>
		<add key="NewDineInformClientGuid" value="48ba5bd1-5630-4c1e-90a0-fee454d6991b"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	</appSettings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>
