.remark-collapse {
	padding-top: 5px;
}

.btn-toggle-remark img {
	width: 100%;
}

.btn-remark {
	margin-right: 5px;
}

.btn-close {
	margin-top: -2px;
	margin-bottom: -2px;
	margin-right: 5px;
}

.cart-control {
	display: inline-block;
	padding: 0;
	border-radius: 20px;
	box-shadow: 0 1px 5px rgba(0,0,0,.5);
}

	.cart-control .btn-cart-decrease,
	.cart-control .btn-cart-add,
	.cart-control .btn-cart-num {
		padding: 0;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		line-height: 25px;
		border: none;
	}

	.cart-control .btn-cart-num {
		font-size: 14px;
	}

.section-category {
	width: 30%;
	float: left;
}

	.section-category .list-group {
		margin-bottom: 0;
	}

		.section-category .list-group .list-group-item {
			margin-bottom: 0;
			padding: 10px 0 10px 10px;
			border: none;
			border-radius: 0;
		}

	.section-category .class-tip {
		position: relative;
		display: inline-block;
		top: -10px;
		text-align: center;
		width: 16px;
		height: 16px;
		font-size: 12px;
		line-height: 16px;
		border-radius: 8px;
	}

	.section-category .class-decoration {
		position: absolute;
		right: 5px;
		top: 8px;
		width: 25px;
		height: 25px;
		line-height: 25px;
		font-size: 14px;
		text-align: center;
		border-radius: 50%;
	}

.section-menu-fashion {
	width: 70%;
	float: left;
}

	.section-menu-fashion .list-group {
		margin-bottom: 50px;
	}

	.section-menu-fashion .list-group-item {
		padding: 0;
		margin-bottom: 2px;
		min-height: 120px;
		max-height: 200px;
		overflow: hidden;
		border: none;
		border-radius: 0;
	}

	.section-menu-fashion .media-left {
		display: block;
		padding: 0;
	}

		.section-menu-fashion .media-left .media-object {
			width: 100%;
		}


	.section-menu-fashion .media-body {
		display: block;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
	}

		.section-menu-fashion .media-body .meal-point {
			display: inline-block;
			position: absolute;
			padding: 1px 8px 1px 2px;
			top: 10px;
			left: 0;
			border-radius: 0 10px 10px 0;
			font-size: 12px;
		}

		.section-menu-fashion .media-body .remark-container {
			position: absolute;
			padding: 5px;
			right: 0;
			top: 0;
			width: 100%;
			z-index: 1;
		}

		.section-menu-fashion .media-body .remark {
			text-align: right;
			border-radius: 5px;
		}

			.section-menu-fashion .media-body .remark .btn {
				margin-right: 2px;
				margin-bottom: 2px;
			}

			.section-menu-fashion .media-body .remark .remark-collapse {
				padding: 5px;
			}

		.section-menu-fashion .media-body .setmeals {
			position: absolute;
			top: 35px;
			left: 0;
		}

			.section-menu-fashion .media-body .setmeals .btn {
				padding: 1px 8px 1px 2px;
				border-radius: 0 10px 10px 0;
				font-size: 12px;
			}

		.section-menu-fashion .media-body .meal-bottom {
			position: absolute;
			padding: 2px 5px;
			bottom: 0;
			width: 100%;
			font-size: 13px;
		}

			.section-menu-fashion .media-body .meal-bottom .meal-title {
				margin-right: 55px;
			}

			.section-menu-fashion .media-body .meal-bottom .meal-price {
				float: right;
				width: 55px;
				text-align: right;
			}

			.section-menu-fashion .media-body .meal-bottom .meal-on-sale {
				display: inline-block;
				padding: 0 5px;
				border-radius: 2px;
				font-size: 3px;
			}

			.section-menu-fashion .media-body .meal-bottom .cart-control {
				position: absolute;
				top: -22px;
				right: 10px;
			}

				.section-menu-fashion .media-body .meal-bottom .cart-control .btn-cart-num {
					margin: 0 5px;
					font-size: 18px;
				}


.section-menu-simple {
	width: 70%;
	float: left;
}

	.section-menu-simple .list-group {
		margin-bottom: 50px;
	}

	.section-menu-simple .list-group-item {
		padding: 10px 8px;
		margin-bottom: 0;
		border: none;
		border-bottom: 1px solid #EDEDED;
		border-radius: 0;
	}

	.section-menu-simple .cart-control {
		box-shadow: none;
	}

	.section-menu-simple .media-left .media-object {
		width: 70px;
	}

	.section-menu-simple .media-body p {
		margin-bottom: 6px;
	}

	.section-menu-simple .media-body .meal-title {
		font-size: 15px;
	}

	.section-menu-simple .media-body .meal-on-sale {
		display: inline-block;
		padding: 0 5px;
		border-radius: 2px;
		font-size: 3px;
	}

	.section-menu-simple .media-body .meal-point {
		font-size: 12px;
	}

	.section-menu-simple .media-body .meal-bottom {
		margin-bottom: 2px;
	}

		.section-menu-simple .media-body .meal-bottom .meal-price {
			margin-bottom: 0;
			font-size: 18px;
		}

	.section-menu-simple .setmeals .btn {
		margin-right: 2px;
		margin-bottom: 2px;
	}

	.section-menu-simple .setmeals .well {
		margin-bottom: 2px;
		padding: 2px;
		padding-bottom: 0;
	}

		.section-menu-simple .setmeals .well p {
			margin-bottom: 2px;
		}

			.section-menu-simple .setmeals .well p:last-child {
				margin-bottom: 0;
			}

	.section-menu-simple .remark .btn {
		margin-right: 2px;
		margin-bottom: 2px;
	}

	.section-menu-simple .remark .well {
		margin-bottom: 0;
		padding: 2px;
		padding-bottom: 0;
	}


.menu-modal {
	padding: 0;
}

	.menu-modal img {
		width: 100%;
	}

.setmeals-modal {
	padding: 0;
}

.list-group-cart {
	line-height: 28px;
}

.list-group-cart .setmeal-class {
	margin-bottom: 0;
	margin-left: 2em;
}

.list-group-cart .setmeal-menu {
	margin-bottom: 0;
	margin-left: 4em;
}


.radio.radio-paykind {
	padding-left: 0;
}

	.radio.radio-paykind.radio-paykind-offline {
	}

		.radio.radio-paykind.radio-paykind-offline label {
			border-radius: 17px;
		}

			.radio.radio-paykind.radio-paykind-offline label hr {
				margin: 0;
			}

	.radio.radio-paykind:first-child {
		margin-top: 0;
	}

	.radio.radio-paykind:last-child {
		margin-bottom: 0;
	}

	.radio.radio-paykind label {
		display: block;
		padding: 0 10px;
		line-height: 35px;
		border-radius: 30px;
		-moz-transition: background-color 0.15s ease-in-out;
		-webkit-transition: background-color 0.15s ease-in-out;
		-o-transition: background-color 0.15s ease-in-out;
		transition: background-color 0.15s ease-in-out;
	}

		.radio.radio-paykind label:before {
			width: 22px;
			height: 22px;
			left: auto;
			top: 7px;
			right: 10px;
		}

		.radio.radio-paykind label:after {
			width: 16px;
			height: 16px;
			left: auto;
			top: 10px;
			right: 13px;
		}
